QWidget{
    background-color:rgb(67, 67, 67);
    color: white;
}
QPushButton#closeButn{
    border: 1px solid transparent;
    border-radius: 3px;
}
QPushButton#closeButn:hover{
    background-color:#d1d1d1;
}
QComboBox{
    background-color: rgb(72, 69, 69);
    /* display: block; */
    color: white;
    font-weight: 700;
    padding: 5px;
}
QLineEdit{
    /* width: 500px; */
    background: white;
    color: black;
    font-weight: 600;
    font-size: 10px;
}
QLineEdit:focus{
    border-color: #545454;
}
QComboBox:on{
    border-color: #545454;
}
QComboBox::down-arrow{
    image: url(./resources/arrow-down-12.png);
    border : none;
}
QComboBox::drop-down{
    border: none;
}
QPushButton#save_settings{
    font-size: 10pt;
    padding: 5px;
    border: 1px solid darkgray;
    border-radius: 7px;
    background-color: #464646;
    color: #ffffff;
    font-weight: 600;
}
QPushButton#discard_changes{
    font-size: 10pt;
    background: transparent;
    border: 1px solid #2a7fff;
    border-radius: 7px;
    padding:5px;
}
QPushButton#save_settings:hover{
    background-color: #486fe6;
}
QPushButton#save_settings:pressed{
    background-color: #545454;
}
QPushButton#discard_changes:hover{
    background-color: #E81123;
    color: #fff;
}
QPushButton#discard_changes:pressed{
    background-color: #9B0B17;
}
QLabel#label_4, QLabel#label_5, QLabel#label_6, QLabel#label_8{
    color: #2b80f0;
    width: 1000px;
}
