QTabBar{
    background-color: white;
    border-bottom: none;
}

QTabBar::tab {
    color: rgb(0, 0, 0);
    text-align: left;
    margin-left: 2px;
    font-size: 11px;
    padding: 12px;
    margin-bottom: 0px;
    color: rgb(0, 0, 0);
    border-bottom: none;
    background: rgb(247, 247, 247);
    max-width: 400px;
}

QTabBar::close-button {                         /* style the tab close button */
    image: url(./resources/icons/closetabbutton.png);
    subcontrol-position: right;
    border: 0px solid gray;
    border-radius:3px;
    color: blue;
    background: gray;
    margin-left: 3px;
    
}

QTabBar::close-button:hover{                    /* close button hover */
    background-color: #1c76d7;
}

QTabBar::tab:hover{
    background-color: rgb(165, 168, 244);
    color: rgb(0, 0, 0);
}
QTabBar::tab:selected:hover{
    background-color: rgb(165, 168, 244);
    color: rgb(0, 0, 0);
}


QTabBar::tab:selected{                          /* selected tabs */
    background-color: rgb(230, 226, 226);
    border-top-right-radius: 10px;
    border-bottom-left-radius: 10px;
    color: rgb(0, 0, 0);
}
